---
import Layout from './Layout.astro';
import OptimizedImage from '../components/OptimizedImage.astro';
const { frontmatter } = Astro.props;
---
<Layout pageTitle={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>{frontmatter.pubDate.toString().slice(0,10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>Written by: {frontmatter.author}</p>
  <OptimizedImage src={frontmatter.image.url} alt={frontmatter.image.alt} width={300} />
  <slot />
</Layout>